@font-face {
  font-family: Gentium;
  src: url("assets/GentiumBasic-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

select,
a {
  font: inherit;
  color: inherit;
}

body {
  font-family: Gentium;
  display: grid;
  place-content: center;
  background: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)),
    url("assets/530476.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  font-size: 18px;
}

.wrapper {
  position: absolute;
  inset: 0;
  background-color: rgb(4, 9, 30);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 hsl(0, 89%, 36%);
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: hsl(0, 89%, 36%);
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 hsl(0, 89%, 36%);
  }
  50% {
    box-shadow: 0 0 0 hsl(0, 89%, 36%);
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 hsl(0, 89%, 36%);
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

h1,
h2 {
  text-align: center;
  margin-bottom: 1em;
}

.view {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-around;
}

a {
  padding: 0.8em;
  background-color: hsl(0, 89%, 36%);
  border-radius: 5px;
  text-decoration: none;
}

a:hover {
  color: hsl(0, 89%, 36%);
  background-color: hsla(0, 0%, 0%, 0.719);
}

select {
  background-color: hsl(0, 89%, 36%);
  border: none;
  cursor: pointer;
}

.fade {
  opacity: 0;
  z-index: -1;
}

@media screen and (max-width: 44rem) {
  body {
    font-size: 14px;
  }
}
