@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
a {
  font: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul[role="list"] li a,
button:not(button[aria-label="menu"]),
ul[role="list"] li {
  outline: none;
}

/* utilities */
:root {
  --clr-primary-400: hsl(231, 77%, 90%);
  --clr-neutral-900: hsl(230, 35%, 7%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-50: hsla(0, 0%, 100%, 0.151);

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-450: 1.125rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;
  --fs-700: 3.5rem;
  --fs-800: 6.25rem;
  --fs-900: 9.375rem;

  --ff-primary: "Bellefair", serif;
  --ff-accent: "Barlow Condensed", sans-serif;
}

.nav-item {
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -2.5px;
  left: 100%;
  right: 100%;
  margin: auto;
  height: 2px;
  background-color: var(--clr-neutral-100);
  border-radius: 100vmax;
  transition: 0.5s;
}

.nav-item:hover::after,
.nav-item:focus-visible::after {
  opacity: 0.6;
  left: 0;
  right: 0;
}

.nav-item.current::after {
  opacity: 1;
  left: 0;
  right: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* general styles */
body {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  background: linear-gradient(hsla(228, 76%, 7%, 0.2), hsla(228, 76%, 7%, 0.2)),
    url("pages/assets/home/background-home-desktop.jpg");
  color: var(--clr-neutral-100);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

header {
  margin: 2em auto auto 2em;
}

header img {
  min-width: 3em;
}

.header__nav {
  flex-basis: 60%;
  background: hsla(0, 0%, 100%, 0.185);
  box-shadow: 0 4px 30px hsla(0, 0%, 0%, 0.041);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(9.3px);
  padding: 1.5em 6em 1.5em 4em;
  font-family: var(--ff-accent);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: var(--fs-300);
}

button[aria-label="menu"] {
  display: none;
}

.header__nav ul {
  justify-content: flex-start;
  gap: clamp(4vmin, 4vw, 15em);
}

.header__nav ul li a {
  padding: 1.5em 0;
  text-decoration: none;
}

.header__nav ul li a span {
  font-weight: bold;
  margin-right: 0.4em;
}

.line {
  height: 2px;
  width: 25%;
  background: hsla(0, 0%, 100%, 0.185);
  box-shadow: 0 4px 30px hsla(0, 0%, 0%, 0.041);
  backdrop-filter: blur(9.3px);
  transform: translateX(max(25%, 3vmax));
  z-index: 1;
}

.main--home {
  width: 90%;
  margin: auto;
  align-items: flex-end;
  margin-top: 5vmax;
  gap: 2em;
}

.main--home__section h2 {
  text-transform: uppercase;
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 400;
  font-size: var(--fs-500);
  letter-spacing: 2px;
}

.main--home__section h1 {
  font-size: var(--fs-900);
  text-transform: uppercase;
  font-weight: 400;
}

.main--home__section p {
  font-family: var(--ff-accent);
  word-spacing: 2px;
  color: var(--clr-primary-400);
  font-size: var(--fs-450);
}

.main--home button {
  width: max-content;
  font-size: var(--fs-500);
  color: var(--clr-neutral-900);
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--clr-neutral-100);
  padding: 1.2em;
  text-transform: uppercase;
  justify-self: center;
  cursor: pointer;
  transition: 0.5s;
}

.main--home button:hover,
.main--home button:focus-visible {
  box-shadow: 0 0 0 2em var(--clr-neutral-50);
}

@media (max-width: 50rem) {
  html,
  body {
    font-size: var(--fs-300);
  }

  body {
    background: linear-gradient(
        hsla(228, 76%, 7%, 0.2),
        hsla(228, 76%, 7%, 0.2)
      ),
      url("pages/assets/home/background-home-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .line {
    display: none;
  }

  .header__nav {
    position: fixed;
    inset: 0 0 0 100%;
    z-index: 1;
    transition: 0.5s;
  }

  .header__nav ul {
    margin-top: 8em;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2em;
  }

  .header__nav ul li a {
    text-align: left;
    font-size: var(--fs-400);
  }

  .header__nav ul li a span {
    margin-right: 0.6em;
  }

  .header__nav ul li a::after {
    display: none;
  }

  .header__nav ul li a:hover,
  .header__nav ul li a:focus-visible {
    color: var(--clr-neutral-900);
  }

  .header__nav ul li a.current {
    color: var(--clr-neutral-900);
  }

  button[aria-label="menu"] {
    display: block;
    background: transparent;
    border: none;
    width: 2.5em;
    aspect-ratio: 1;
    cursor: pointer;
    margin-right: 2.4em;
    margin-top: 0.5em;
    z-index: 2;
  }

  .close {
    display: none;
  }

  button.active .open {
    display: none;
  }

  button.active .close {
    display: block;
  }

  button.active + * {
    inset: 0 0 0 30%;
  }

  .main--home {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .main--home__section h2 {
    font-size: var(--fs-450);
  }

  .main--home__section h1 {
    font-size: var(--fs-800);
  }

  .main--home button {
    margin: 1.3em 0 2em;
  }
}
